
<div class="grid classCenter">
<p-card header="Register" [style]="{'width': '50rem', 'margin-bottom': '2em'}">
 <div class="grid">
     <div class="col-6">
     <label for="fname">First Name</label>
    <input type="text" pInputText class="inputfield w-full"/>
    </div>

    <div class="col-6">
    <label for="lname">Last Name</label>
    
    <input type="text" pInputText class="inputfield w-full"/>
    </div>

        <div class="col-6">
        <label for="fname">Email</label>
       <input type="text" pInputText class="inputfield w-full"/>
       </div>

       <div class="col-6">
       <label for="lname">Phone number</label>
       <input type="text" pInputText class="inputfield w-full"/>
       </div>

       
       <div class="col-6">
        <label for="fname">Password</label>
       <input type="text" pInputText class="inputfield w-full"/>
       </div>

       <div class="col-6">
       <label for="lname">Confirm Password</label>
       <input type="text" pInputText class="inputfield w-full"/>
       </div>

       <div class="col-6">
        <label for="fname">Gender</label>
       <input type="text" pInputText class="inputfield w-full"/>
       </div>

       <div class="col-6">
       <label for="lname">Date of Birth </label>
       <input type="text" pInputText class="inputfield w-full"/>
       </div>
   
       <div class="col-6">
        <label for="fname">Profile created for</label>
       <input type="text" pInputText class="inputfield w-full"/>
       </div>

       <div class="col-6">
        <label for="fname">Marital Status</label>
       <input type="text" pInputText class="inputfield w-full"/>
       </div>

       <div class="col-6">
       <label for="lname">Religion </label>
       <input type="text" pInputText class="inputfield w-full"/>
       </div>

       <div class="col-6">
        <label for="lname">Upload image </label>
        <input type="text" pInputText class="inputfield w-full"/>
        </div>
   
    <p-button label="Register" ></p-button>
</div>
<div class="grid">
    <div class="col-6">
        Not a Member <a href="/login"> Login</a>
    </div>
</div>
</p-card>
</div>